.wrapper {
  display: flex;
}

.flightsList {
  border: 2px solid black;
  height: 100vh;
  flex: 1 1 auto;
  box-sizing: border-box;
}

app-flight-view{
  flex: 1 0 300px;
}

.flight {
  padding: 20px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
