.container {
  display: flex;
  height: 100vh;
}

app-flights-list{
  flex: 1 1 auto;
}

.workersList {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  flex: 0 0 300px
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkseagreen;
  height: 50px;
  color: white;
  font-size: 1.5rem;
  border-bottom: 2px solid black;
}

.list{
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.worker {
  padding: 5px 20px;
  border: 1px solid silver;
}

.worker:hover{
  font-size: 1.2rem;
  background-color: rgba(0,0,0,0.3);
  border: 1px solid black;
}
